/****** PLACE YOUR CUSTOM STYLES HERE ******/
.contact-icon {
  margin-right: 7px !important;
}

.gray-overlay .background-image-holder.fadeIn {
  opacity: 0.7;
}

.min-height-70 {
  min-height: 70px;
}

@media all and (max-width: 990px) {
  .contact-icon {
    display: none !important;
  }
  .min-height-70 {
    min-height: 0;
    height: auto;
  }
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.feature-1.boxed {
  min-height: 330px;
}

@media all and (max-width: 767px) {
  .feature-1.boxed {
    min-height: 0px;
  }

  .page-title-4 {
    height: 100px;
  }
}

.process .icon-tabs .tabs li{
  width: 16.2%;
}

@media all and (max-width: 767px) {
  .process .icon-tabs .tabs li{
    width: 48%;
  }
}

.module-group.right {
  border-top: 1px solid #ccc;
}


/*.tt-g-background{
  background-color: #47b475;
}*/
.tt-g-txt{
  color: rgba(71,180,117, 1) !important;
}
/*.tt-g-background{
  background-color: #47b475;
}
.tt-g-border-color{
  border-color: #47b475;
}*/
@media (max-width: 767px){
.p-h-10percent{
  padding-left: 10%;
  padding-right: 10%;
}
.txt-c-xs{
  text-align: center;
}
}


.ph10p{
  padding-left: 10%;
  padding-right: 10%;
}

.w60p{
  width: 90%;
}
@media(min-width: 430px) and (max-width:767px) {
.w60p{
  width: 60%;
}
}
@media(min-width:768px) {
.w60p{
  width: 100%;
}
}
.f-img-w{
  width: 20%;
}
@media (min-width: 997px) {
 .f-img-w{
  width: 30%;
  float: right;
} 
}
@media (min-width: 767px) and (max-width: 996px){
.acct-text{
  font-size:1em !important;
}
.f-img-w{
  width: 60%;
  float: right;
}
}

@media(max-width: 767px){
  .widget{
    margin-bottom: 0;
  }
 .text-hp-15p {
  padding-left: 15%;
  padding-right: 15%;
 }
}



.h-img-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}



ul.lead li{
  font-size: 0.8em !important;
  line-height: 2em;
}
.smaller-text{
  font-size: 0.7em !important;
}
.smaller-line{
  line-height: 1em !important;
}
.larger-text{
  font-size: 1.5em !important;
}


.w-t{
  color: rgba(255,255,255,1);
}
.b-t{
  color: rgba(0,0,0,1);
}



a.light-link:hover,
.light-link:active{
color: white !important;
}
.dark-link{

}


a.light-active:active,
a.light-active:focus{
  color: white !important;
}